*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

p{
    font-size: 14px;
}

body{
    background-color: var(--cream);
    min-height: 100vh;
    display: grid;
    /* background-image: url("/images/active-states.jpg");
    background-repeat: no-repeat;
    background-position: center; */
}


/*Tipografia*/
.montserrat-500{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.montserrat-700{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.fraunces{
    font-family: 'Fraunces', serif;
    font-weight: 700;
}


/*Cores*/

:root{

    /*Primárias*/
--dark_cyan: hsl(158, 36%, 37%);
--cream: hsl(30, 38%, 92%);

        /*Neutras*/
--very_dark_blue: hsl(212, 21%, 14%);
--dark-grayish-blue: hsl(228, 12%, 48%);
--white: hsl(0, 0%, 100%);
}